
html{
  width: 100%;
}

.barrier {
  width: 1000px;
  height: 500px;
  background-color: blue;
  z-index: -2;
}

 body {
  background-color: #8c95ac;
  font-family: OCR A std;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  width: 100%;
  height: 100%;
  /*overflow:hidden*/
}

.question {
  position:fixed;
  top: 80px;
  left: 50px;
  font-size: 20px;
  font-family: OCR A std;

}

h1 {
  color: black;
  font-size: 30px;
  text-align: center;
}

.timer {
  position:fixed;
  margin-top: 20px;
  right: 100px;
  color: black;
  font-size: 100px;
  z-index: 700;
}

h3 {
  position: absolute;
  color: black;
  font-size: 40px;
  right: 100px;
  bottom: -30px;
}


.cursor {
  position: absolute;
  margin: auto;
  height: 400px;
  width: 30px;
  background-color: black;
  left: 1000px;
  top: 180px;
}

.intro {
  background-color: aqua;
  width: 100%;
  height: 100%;
  padding-top: 300px;
  text-align: center;
  z-index: 3;
  position: absolute;
  display: none;
}

/* TYPE FIELD *//* TYPE FIELD *//* TYPE FIELD *//* TYPE FIELD */
.typing {
  position: relative;
  width: 100%;
  height: 700px;
  z-index: 2;
  background-color: #8c95ac;
  font-size: 0px;
  margin: 0px;
}

.top-bar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 150px;
  background-color: white;
}

.text {
  position: absolute;
  transform: scale(2);
  top: 250px;
  width: 300px;
}

.bottom-bar {
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100px;
  height: 100px;
  width: 100%
}


/* LOOK BACK *//* LOOK BACK *//* LOOK BACK *//* LOOK BACK */

.history {
  z-index: 0;
  position: absolute;
  top: 100px;
  height: 400px;
  width: 800px;
}

.stage {
  position: absolute;
  font-size: 0px;
  top:0;
  left:0;
  z-index: 0;
}

.stageOriginal {
  font-size: 0px;
  position: absolute;
  top:0;
  left:0;
}


/* WORD FORMATION *//* WORD FORMATION *//* WORD FORMATION */

.word {
  position: absolute;
  margin-top: 200px;
  margin-left: -1000px;
  display: inline-block;
  transform: scale(.5);
  font-size: 0px;
  top: -1000px;
  width: 2000px;
}

.words {
  display: inline-block;
  margin-left: 75px;
  margin-top: 20px;
}


/* LETTERFORMS *//* LETTERFORMS *//* LETTERFORMS *//* LETTERFORMS */

.letter {
  width: 130px;
  height: 200px;
  margin: 10px;
  position: relative;
  display: inline-block;
}

.alphabet {
display: inline-block;
display: none;
}

.bar { position: absolute; }
.vert { height: 200px; width: 30px; border-radius: 25px; }
.horz { height: 30px; width: 120px; border-radius: 25px; }
.black {background-color: #000; }
.white {background-color: #FFF; }

/* Letter A */
.a-left-black {top: 0px; left: 0px;}
.a-right-black {top: 0px; right: 10px; height:200px;}
.a-top-black {top:0; left: 0;  width: 120px;}
.a-mid-black {top:90px; left: 0px;}

.a-left-white {top: 10px; left: 10px; }
.a-right-white {top: 10px; right: 0px; height:200px;}
.a-top-white {top:10px; left: 10px;}
.a-mid-white {top:100px; left: 10px;}

/* Letter B */
.b-left-black {left: 0px;}
.b-right-black {top: 0px; right: 10px;  height:200px;}
.b-top-black {top: 0px; width: 120px; left: 0px; }
.b-mid-black {top: 88px; width: 70px; right: 10px;}
.b-bottom-black {top: 170px; width: 100px; right: 0px;}

.b-left-white {top: 10px; left: 10px; }
.b-right-white {top: 10px; right: 0px; height:200px;}
.b-top-white {top:10px; width: 120px; left: 10px;}
.b-mid-white {top:98px; width: 70px; right: 0px;}
.b-bottom-white {top:180px; width: 120px; left: 10px;}

/* Letter C */
.c-left-black {top: 0px; left: 0px; height: 200px;}
.c-top-black {top:0; left: 0px; width: 120px;}
.c-bottom-black {top:170px; left: 0px; width: 120px; bottom: 10px;}

.c-left-white {top: 10px; left: 10px; height: 200px; }
.c-top-white {top:10px; left: 10px; width: 120px;}
.c-bottom-white {top:180px; left: 10px; width: 120px;}

/* Letter D */
.d-left-black {left: 0px;}
.d-right-black {top: 0px; right: 10px;  height:200px;}
.d-top-black {top:0px; width: 130px; left: -10px;}
.d-bottom-black {top:170px; width: 130px; left: -10px;}

.d-left-white {top: 10px; left: 10px; }
.d-right-white {top: 10px; right: 0px;  height:200px;}
.d-top-white {top:10px; width: 130px; left: 0px;}
.d-bottom-white {top:180px; width: 130px; left: 0px;}

/* Letter E */
.e-left-black {left: 0px;}
.e-top-black {top:0; left: 0px; width: 120px;}
.e-mid-black {top: 90px; width: 70px; left: 0px;}
.e-bottom-black {top:170px;}

.e-left-white {top: 10px; left: 10px;}
.e-top-white {top:10px; left: 10px; width: 120px;}
.e-mid-white {top:100px; width: 70px; left: 10px;}
.e-bottom-white {top:180px; left: 10px; width: 120px; }

/* Letter F */
.f-left-black {left: 0px;}
.f-top-black {top:0;}
.f-mid-black {top: 90px; width: 70px; left: 0px;}

.f-left-white {top: 10px; left: 10px; }
.f-top-white {top:10px; left: 10px;}
.f-mid-white {top:100px; width: 70px; left: 10px;}

/* Letter G */
.g-left-black {left: 0px;}
.g-right-black {top: 100px; right: 10px; height: 110px;}
.g-top-black {top:0; left: 0px;}
.g-mid-black {top: 90px; width: 70px; right: 10px;}
.g-bottom-black {top:170px; left: 0px;}

.g-left-white {top: 10px; left: 10px; }
.g-right-white {top: 100px; right: 0px; height: 110px;}
.g-top-white {top:10px; left: 10px;}
.g-mid-white {top:100px; width: 70px; right: 0px;}
.g-bottom-white {top:180px; left: 10px;}

/* Letter H */
.h-left-black {left: 0px;}
.h-right-black {top: 0px; right: 10px;}
.h-mid-black {top:90px; left: 0px;}

.h-left-white {top: 10px; left: 10px; }
.h-right-white {top: 10px; right: 0px;}
.h-mid-white {top:100px; left: 10px;}

/* Letter I */
.i-mid-black {left: 50px;}
.i-top-black {left: 0px; top:0px; width: 120px;}
.i-bottom-black {top:170px;  width: 120px;}

.i-mid-white {top: 10px; left: 60px; }
.i-top-white {top:10px; left: 10px; width: 120px;}
.i-bottom-white {top:180px; left: 10px;  width: 120px;}

/* Letter J */
.j-left-black {top:130px; left: 20px; height: 70px;}
.j-right-black {right: 10px;}
.j-top-black {top:0px; right: 10px;}
.j-bottom-black {top:170px; right: 10px; width: 100px;}

.j-left-white {top:140px; left: 30px; height: 70px;}
.j-right-white {top: 10px; right: 0px; }
.j-top-white {top:10px; right: 0px;}
.j-bottom-white {top:180px; right: 0px; width: 100px;}

/* Letter K */
.k-left-black {left: 0px;}
.k-top-black {top: 135px; left: 0px; width: 140px; transform: rotate(45deg)}
.k-bottom-black {top:55px; left: -5px; width: 130px; transform: rotate(-45deg)}

.k-left-white {top: 10px; left: 10px; }
.k-top-white {top: 135px; left: 0px; width: 150px; transform: rotate(45deg)}
.k-bottom-white {top:55px; left: 0px; width: 150px; transform: rotate(-45deg)}

/* Letter L */
.l-mid-black {left: 0px;}
.l-bottom-black {top:170px;}

.l-mid-white {top: 10px; left: 10px; }
.l-bottom-white {top:180px; left: 10px;}

/* Letter M */
.m-left-black {left: -10px;}
.m-mid-black {top:10px; left: 45px; height: 80px;}
.m-right-black {top: 0px; right: 0px;}
.m-top-black {top:0px; left: -10px; width: 140px;}
.m-bottom-black {top:170px;}

.m-left-white {top: 10px; left: 0px;}
.m-mid-white {top:10px; left: 55px; height: 80px;}
.m-right-white {top: 10px; right: -10px;}
.m-top-white {top:10px; left: 0px; width: 140px;}
.m-bottom-white {top:180px;}

/* Letter N */
.n-left-black {left: 0px;}
.n-right-black {top: 0px; right: 10px;}
.n-top-black {top:0px;}

.n-left-white {top: 10px; left: 10px; }
.n-right-white {top: 10px; right: 0px;}
.n-top-white {top:10px; left: 10px;}

/* Letter O */
.o-left-black {left: 0px;}
.o-right-black {top: 0px; right: 10px;}
.o-top-black {top:0px;}
.o-bottom-black {top:170px;}

.o-left-white {top: 10px; left: 10px; }
.o-right-white {top: 10px; right: 0px;}
.o-top-white {top:10px; left: 10px;}
.o-bottom-white {top:180px; left: 10px;}

/* Letter P */
.p-left-black {left: 0px;}
.p-right-black {top: 0px; right: 10px; height: 120px;}
.p-top-black {top:0;}
.p-mid-black {top: 90px; width: 70px; right: 10px;}

.p-left-white {top: 10px; left: 10px; }
.p-right-white {top: 10px; right: 0px;  height: 120px;}
.p-top-white {top:10px; left: 10px;}
.p-mid-white {top:100px; width: 70px; right: 0px;}

/* Letter Q */
.q-left-black {left: 0px;}
.q-right-black {top: 0px; right: 10px;}
.q-top-black {top:0px;}
.q-bottom-black {top:170px;}
.q-mid-black {top: 120px; width: 70px; right: -10px;}

.q-left-white {top: 10px; left: 10px; }
.q-right-white {top: 10px; right: 0px;}
.q-top-white {top:10px; left: 10px;}
.q-bottom-white {top:180px; left: 10px;}
.q-mid-white {top:130px; width: 70px; right: -20px;}


/* Letter R */
.r-left-black {left: 0px;}
.r-right-black {top: 0px; right: 10px; height: 110px;}
.r-top-black {top:0; left: 0px;}
.r-mid-black {top: 80px; width: 100px; right: 10px;}
.r-bottom-black {top: 135px; left: 10px; width: 140px; transform: rotate(45deg)}

.r-left-white {top: 10px; left: 10px;}
.r-right-white {top: 10px; right: 0px; height: 110px;}
.r-top-white {top:10px; left: 10px;}
.r-mid-white {top:90px; width: 100px; right: 0px;}
.r-bottom-white {top: 135px; left: 10px; width: 150px; transform: rotate(45deg)}


/* Letter S */
.s-left-black {left: 0px; height: 120px;}
.s-left2-black {top: 150px;left: 0px; height: 50px;}
.s-right-black {top: 100px; right: 10px; height: 110px;}
.s-right2-black {top: 0px; right: 10px; height: 50px;}
.s-top-black {top:0;}
.s-mid-black {top: 90px; width: 120px; right: 10px;}
.s-bottom-black {top:170px}

.s-left-white {top: 10px; left: 10px; height: 120px;}
.s-left2-white {top: 160px; left: 10px; height: 50px;}
.s-right-white {top: 100px; right: 0px; height: 110px;}
.s-right2-white {top: 10px; right: 0px; height: 50px;}
.s-top-white {top:10px; left: 10px;}
.s-mid-white {top:100px; width: 120px; right: 0px;}
.s-bottom-white {top:180px; left: 10px;}


/* Letter T */
.t-mid-black {left: 40px;}
.t-top-black {top:0px;}
.t-bottom-black {top:170px;}

.t-mid-white {top: 10px; left: 50px; }
.t-top-white {top:10px; left: 10px;}
.t-bottom-white {top:180px; left: 10px;}

/* Letter U */
.u-left-black {left: 0px;}
.u-right-black {top: 0px; right: 10px;}
.u-top-black {top:0px;}
.u-bottom-black {top:170px;}

.u-left-white {top: 10px; left: 10px; }
.u-right-white {top: 10px; right: 0px;}
.u-top-white {top:10px; left: 10px;}
.u-bottom-white {top:180px; left: 10px;}

/* Letter V */
.v-left-black {left: 10px;  height: 200px; transform: rotate(-15deg)}
.v-right-black {top: 0px; right: 20px; height: 200px; transform: rotate(15deg)}
.v-bottom-black {top:170px; left: 45px; width: 50px;}

.v-left-white {top: 10px; left: 20px;  height: 200px; transform: rotate(-15deg) }
.v-right-white {top: 10px; right: 10px; height: 200px; transform: rotate(15deg)}
.v-bottom-white {top:180px; left: 45px; width: 50px;}

/* Letter W */
.w-left-black {left: -10px;}
.w-right-black {top: 0px; right: 0px;}
.w-top-black {top:170px; left: -10px; width: 140px;}
.w-bottom-black {top:170px;}
.w-mid-black {top:110px; left: 50px; height: 80px;}

.w-left-white {top: 10px; left: 0px; }
.w-right-white {top: 10px; right: -10px;}
.w-top-white {top:180px; left: 0px; width: 140px;}
.w-bottom-white {top:180px;}
.w-mid-white {top:120px; left: 60px; height: 80px;}

/* Letter X */
.x-left-black {left: 0px;  height: 60px;}
.x-right-black {top: 0px; right: 10px; height: 58px;}
.x-left-dash-black {left: 50px; top: 20px; height: 150px; transform: rotate(-45deg)}
.x-right-dash-black {top: 20px; left: 45px; height: 150px; transform: rotate(45deg)}
.x-left-bottom-black {left: 0px;  height: 75px; top: 125px;}
.x-right-bottom-black {top: 125px; right: 10px; height: 75px;}

.x-left-white {top: 10px; left: 10px;  height: 62px; }
.x-left-dash-white {top: 30px; left: 55px; height: 150px; transform: rotate(-45deg) }
.x-right-white {top: 10px; right: 0px; height: 62px;}
.x-right2-white {top: 60px; right: 20px; height: 50px;}
.x-bottom-white {top:90px; left: 50px; width: 40px;}
.x-left-bottom-white {top: 135px; left: 10px;  height: 75px; }
.x-right-dash-white {top: 30px; left: 55px; height: 150px; transform: rotate(45deg) }
.x-right-bottom-white {top: 135px; right: 0px; height: 75px;}

/* Letter Y */
.y-left2-black {top: 0px; left: 0px;  height: 120px; }
.y-right-black {top: 0px; right: 10px; height: 210px;}
.y-bottom-black {bottom: 0px; right: 10px; width: 90px;}
.y-mid-black {top: 90px; right: 10px; width: 110px;}

.y-left2-white {top: 10px; left: 10px; height: 120px; }
.y-right-white {top: 10px; right: 0px; height: 200px;}
.y-bottom-white {bottom: -10px; right: 0px; width: 90px;}
.y-mid-white {top: 100px; right: 0px; width: 120px;}

/* Letter Z */
.z-right-black {top: 0px; right: 10px; height: 60px;}
.z-mid-black {top: 83px; left:-17px; width: 150px; transform: rotate(-45deg)}
.z-top-black {top:0px;}
.z-bottom-black {bottom:0px;}
.z-left-bottom-black {left: 0px;  height: 70px; bottom: 0px;}

.z-right-white {top: 10px; right: 5px; height: 65px;}
.z-mid-white {top:92px; left: -7px; width: 150px; transform: rotate(-45deg)}
.z-top-white {bottom:-10px;left: 10px; }
.z-bottom-white {top:10px;left: 10px; width: 110px;}
.z-left-bottom-white {bottom: -10px; left: 10px;  height: 70px; }
