.images {
  display: inline-block;
  font-size: 0px;
  margin: 0px;
  width: 1150px;
  margin-top: 80px;
  margin-left: 0px;
}

.contact-info {
  position: absolute;
  left: 1000px;
  top: 40px;
  text-align: right;
}

h1 {
  margin-left: 50px;
  margin-top: 50px;
  padding-top: 20px;
  font-weight: lighter;
}

h3 {
  letter-spacing: 1px;
  font-size: 15px;
}

h4 {
  margin: 5px;
  letter-spacing: .5px;
  font-size: 12px;
  font-weight: lighter;


}

h5 {
  margin: 5px;
  letter-spacing: .5px;
  font-size: 12px;
  font-weight: lighter;
}

ul {
  list-style-type: none;
}


a {
  color: black;
}

.left-column {
  position: absolute;
  margin: 0px;
  left: 0px;
  width: 655px;
  display: inline-block;
}

.right-column {
  position: absolute;
  left: 650px;
  width: 655px;
  display: inline-block;
  margin: 0px;
}


.header {
  background-color: white;
  position: fixed;
  top: -1px;
  margin-top: -20px;
  padding-bottom: 30px;
  width: 10000px;
  z-index: 1;
  display: inline-block;
}


.footer {
  background-color: white;
  position: fixed;
  bottom: 0px;
  margin-top: -20px;
  padding-bottom: 60px;
  width: 10000px;
  z-index: 1;
}

video{
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  margin-left: -16px;
}

.description {
  position:fixed;
  top: 150px;
  left:50px;
}

.resume {
  position:fixed;
  top: 150px;
  left:50px;
  width: 500px;

}

.images-detail {
  position: absolute;
  width: 500px;
  left: 600px;
  top: 70px;
  display:list-item;
  margin-bottom: 10px;
}

.detail {
  margin-bottom: 30px;

}


body {
  font-family: "avenir";
  font-size: 10px;
  position: relative;
    margin-left: -1px;
}

h1 {
  margin-top: 40px;
  letter-spacing: 1.5px;
  margin-bottom: 0px;

}

h2 {
  margin-bottom: 100px;
  font-family: freightbig pro;
  font-weight: 100;
  font-size: 90px;
}

.description {
  width: 450px;
}
