body {
  background-color: yellow;
  font-size: 18px;
  font-family: helvetica;
  margin-left: 50px;
}

.currency-button {
  background-color: black;
  color: white;
  font-family: helvetica;
  font-size: 18px;
  width: 200px;
  text-align: center;
}

h1 {
  font-size: 18px;

}

h2 {
  font-size: 18px;
}

#currency {
  position: absolute;
  top: -7px;
  left: 200px;

}
