
.letter-wrapper {
display: inline-block;
}


.letter {
  width: 150px;
  height: 200px;
  background-color: #00ff00;
  margin: 50px;
  position: relative;
  display: inline-block;
  margin: 10px;
}

.left-vert-bar {
  width:30px;
  height: 200px;
  background-color: #000;
  position: absolute;

}

.right-vert-bar {
height: 200px;
width: 30px;
background-color: #ff0;
position: absolute;
top: 0px;
right: 0px;
}

.top-horz-bar {
  background-color: red;
  position:absolute;
  top:0;
  left: 0;
  height: 30px;
  width: 150px;

}

.mid-horz-bar {
  background-color: #00F;
  position:absolute;
  top:100px;
  height: 30px;
  width: 150px;
}
